body {
    font-family: Helvetica, sans-serif;
    color: #000;
}

.navbar{
    padding: 0px;
}
.netflix-img{
    width: 16%;
    margin-left: 2%;
}
.login h1 {
    color: #333;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 10px;
}
.fs-7{
    font-size: 18px;
}
.signup-body{
    width: 440px;
    min-height: 660px;
    border-radius: 3px;
    margin: auto;
    padding: 60px 0 50px;
}

.form-control{
    border: 1px solid #737373;
    border-radius: 0px;
    color: #fff;
    height: 50px;
    line-height: 50px;
    padding: 30px 20px;
}

.form-label{
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%) ;
    color: #8c8c8c;
}
.form-control:focus{
    border: 1px solid #737373;
    box-shadow: none;
}

.form-control:focus~.form-label{
    top: 0;
    transform: unset;
    font-size: 12px;
}
.form-check-input{
    width: 25px;
    height: 25px;
    margin-right: 5px;
}
.form-check-input[type=checkbox]{
    border-radius: 0;

}

.btn{
    padding: 16px;
    border-radius: 4px;
    font-size: 24px;
}
.btn-primary{
    background-color: #e50914;
    border: none;
    width: 100%;
    padding: 20px 48px;
    border-radius: 0;
}
.btn-primary:hover{
    background-color: #e50914;
}
.text-secondary{
    color: #b3b3b3;
    font-size: 13px;
    font-weight: 500;
}

.mt-20{
    margin-top: 6%;
}
.footer{
    padding: 3% 8%;
    height: 23.6%;
    background-color: #f3f3f3;
}
.link-items {
    padding-right: 4%;
    padding-bottom: 1%;
    width: 25%;
    list-style: none;
}

.link-items a {
    font-size: 13px;
    text-decoration: none;
    color: #737373;
}

.link-items a:hover {
    text-decoration: underline;
}
.contact-us a {
    text-decoration: none;
    font-size: 16px;
    color: #737373;
}

.contact-us a:hover {
    text-decoration: underline;
}
.btn3 {
    font-size: 14px;
    color: #737373;
    border: .5px solid #737373;
}

.dropdown-item {
    color: #737373;
}
@media (max-width: 739px){
    .netflix-img{
        width: 35%;
    }
    .signup-body{
        width: 95%;
    }
    .footer{
        border-top: 1px solid #8c8c8c;
    }
}
@media only screen and (min-width: 739px) and (max-width:1024px) and ( orientation: portrait){
    .netflix-img{
        width: 35%;
    }
    .signup-body{
        width: 60%;
        min-height: 0px;
        padding: 50px;
        margin-bottom: 20%;
    }
    .footer{
        border-top: 1px solid #8c8c8c;
    }

}


